$purple-jafer: #9E469E
$pink-jafer: #C070C0

.btn-info
  background-color: $purple-jafer
  border-color: $purple-jafer

.btn-info:hover
  background-color: $pink-jafer
  border-color: $pink-jafer

.btn-info:active:focus
  background-color: $purple-jafer
  border-color: $purple-jafer

.btn-primary
  background-color: $pink-jafer
  border-color: $pink-jafer

.btn-primary:hover
  background-color: $purple-jafer
  border-color: $purple-jafer

.btn-outline-secondary
  color: white