<footer id="footer" class="row footer" data-hook>
	<hr>
  <div id="footer-left" class="col-md-6 col-md-offset-3" align="center" data-hook>
  	<div class="col-md-6 col-md-offset-3">
  		<div class="col-md-4">
  			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<i style="font-size:24px" class="fa">&#xf09a;</i>
  		</div>
  		<div class="col-md-4">
  			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<i style="font-size:24px" class="fa">&#xf099;</i>
  		</div>
		<div class="col-md-4">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<i style="font-size:24px" class="fa">&#xf0d5;</i>
		</div>
		<hr>
  	</div>
  	<div class="col-md-6 col-md-offset-3">
  		<p>Lorem ipsum dolor sit amet consectetur adipiscing elit felis, lobortis parturient nulla quam netus tincidunt imperdiet, molestie gravida fringilla blandit risus ut dictumst. Sociosqu nascetur suscipit cum nam penatibus, pharetra semper.</p>
  	</div>
    <div class="col-md-6 col-md-offset-3">
      <hr>
      <%= Spree.t :powered_by  %> <%= link_to 'JaferShop by Jafer Co.', 'https://www.facebook.com/JAFERCuauhtemoc/?ref=bookmarks' %>
    </div>
  </div>
  <div id="footer-right" class="col-md-6" data-hook></div>
</footer>
<hr>