<footer id="footer" class="row footer" data-hook>
  <div id="footer-left" class="col-md-6 col-md-offset-3" align="center" data-hook>
    <div>
      <%= Spree.t :powered_by  %> <%= link_to 'Jafer', 'https://www.facebook.com/JAFERCuauhtemoc/?ref=bookmarks' %>
    </div>
  </div>
  <div id="footer-right" class="col-md-6" data-hook></div>
</footer>