<div id="bottom_banner_home" class="jumbotron position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light col-md-12">
	<div class="col-md-6 p-lg-5 mx-auto my-5 col-md-offset-3">
		<h2 class="display-4 font-weight-normal">Marcas</h2>
		<p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple's marketing pages.</p>
		<a class="btn btn-outline-secondary" href="#">Coming soon</a>
	</div>
</div>